*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.custome-title{
    text-align: center;
    font-weight: bold;
}

.btn{
    margin: 0.4rem;
    float: right;
}

.card{
    margin-top: 4rem;
    box-shadow: 0px 10px 10px 10px #a9a1a1;
}